In [1]:
import pandas as pd

In [26]:
from sklearn.linear_model import LinearRegression

In [3]:
data = pd.read_csv("tested.csv")

In [4]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [5]:
columns = list(data.columns)

In [6]:
columns.remove('PassengerId')
columns.remove('Name')
columns.remove('Ticket')
columns.remove('Embarked')

In [7]:
data1 = data[columns]

In [9]:
data1['Age'].fillna(data1['Age'].mean(),inplace=True)

/var/folders/l4/hzr9pnz537ld_hkhgw859klm0000gn/T/ipykernel_1280/3404223605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['Age'].fillna(data1['Age'].mean(),inplace=True)

In [10]:
def mapper(x):
    if x == "male":
        return 0
    else:
        return 1

In [11]:
data1['Sex'] = data['Sex'].apply(mapper)

/var/folders/l4/hzr9pnz537ld_hkhgw859klm0000gn/T/ipykernel_1280/2774512051.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['Sex'] = data['Sex'].apply(mapper)

In [16]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
 1   Pclass    418 non-null    int64
 2   Sex       418 non-null    int64
 3   Age       418 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Fare      417 non-null    float64
 7   Cabin     91 non-null     object
dtypes: float64(2), int64(5), object(1)
memory usage: 26.3+ KB

In [18]:
data1["Cabin"].fillna(data1['Cabin'].mode(),inplace=True)

/var/folders/l4/hzr9pnz537ld_hkhgw859klm0000gn/T/ipykernel_1280/2721936284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["Cabin"].fillna(data1['Cabin'].mode(),inplace=True)

In [19]:
Train_data = data1.loc[:int(len(data1)*0.8),:]
Val_data = data1.loc[int(len(data1)*0.8):,:]

In [29]:
x_features = data1.columns.to_list()
x_features.remove('Survived')
x_features.remove('Cabin')

In [30]:
train_x = Train_data[x_features]
train_y = Train_data['Survived']

In [31]:
lr = LinearRegression()

In [35]:
train_x['Fare'].fillna(train_x['Fare'].median(),inplace=True)

/var/folders/l4/hzr9pnz537ld_hkhgw859klm0000gn/T/ipykernel_1280/2431171753.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_x['Fare'].fillna(train_x['Fare'].median(),inplace=True)

In [36]:
lr.fit(train_x,train_y)

LinearRegression()

In [49]:
x_features

['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']

In [48]:
lr.coef_

array([ 9.74097394e-16,  1.00000000e+00, -7.38626654e-18,  1.23101979e-15,
        1.68927238e-15, -2.39420234e-16])

In [50]:
lr.intercept_

5.384581669432009e-15

In [ ]:
lr.vali

In [47]:
lr.predict(Val_data.loc[334,x_features].to_numpy().)

ValueError: cannot reshape array of size 6 into shape (1,)